Exercise 1. 

Create a table named Countries which has country_id column as the primary key and name column. Then insert least 3 rows of data and use SELECT command to show the contents of the table.

In [1]:
# You need to run this cell to connect to in-memory database

#importing the sqlite module 
import sqlite3

# In memory database
dbconn = sqlite3.connect(':memory:')

#set a variable up for the cursor to write SQL scripts
db = dbconn.cursor()

In [3]:
db.execute("""CREATE TABLE Countries (
            country_id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT
            )""")
dbconn.commit()

Exercise 2.

Create a table name Cities which has city_id column as the primary key, name column, population column, and country_id column as the foreign key connecting to country_id column of Countries table from Exercise 1. 

Then 
- insert least 5 rows of data 
- use SELECT command to show the contents of the table
- use SELECT command to only show the cities of selected country

In [4]:
db.execute("""CREATE TABLE Cities (
            city_id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT,
            population INTEGER,
            country_id INTEGER NOT NULL,
            FOREIGN KEY(country_id) REFERENCES Countries(country_id)
            )""")
dbconn.commit()

In [ ]:
db.execute("INSERT INTO Countries VALUES (NULL, 'USA')")
db.execute("INSERT INTO Countries VALUES (NULL, 'Italy')")
db.execute("INSERT INTO Countries VALUES (NULL, 'Germany')")
dbconn.commit()

In [10]:
db.execute("INSERT INTO Cities VALUES (NULL, 'Berlin', 3500000, 3)")
db.execute("INSERT INTO Cities VALUES (NULL, 'New York', 19000000, 1)")
db.execute("INSERT INTO Cities VALUES (NULL, 'Milan', 1200000, 2)")
db.execute("INSERT INTO Cities VALUES (NULL, 'Frederick', 75000, 1)")
db.execute("INSERT INTO Cities VALUES (NULL, 'Hannover', 540000, 3)")
dbconn.commit()

In [12]:
db.execute("SELECT * from Cities")
print(db.fetchall())

print("\n=====\n")

db.execute("SELECT name from Cities WHERE country_id = 3")
print(db.fetchall())

[(1, 'Berlin', 3500000, 3), (2, 'New York', 19000000, 1), (3, 'Milan', 1200000, 2), (4, 'Frederick', 75000, 1), (5, 'Hannover', 540000, 3)]

=====

[('Berlin',), ('Hannover',)]

Exercise 3.

Modify 3rd row of Cities table to increase city's population by 1,000. Show data before and after the change.

In [37]:
tmp_db_list = []

# Retrieve and print list of cities before update
db.execute("SELECT * from Cities")
for city1 in db.fetchall():
    tmp_db_list.append(city1)
print(tmp_db_list)

print ('\n' + '*' * 15 + '\n')

# Retrieve and print list of cities after update
city_id_to_update = tmp_db_list[2][0]
new_population = tmp_db_list[2][2] + 1000
db.execute("UPDATE Cities SET population = ? WHERE city_id = ?", (new_population, city_id_to_update,))
db.execute("SELECT * FROM Cities")
print(db.fetchall())

[(1, 'Berlin', 3500000, 3), (2, 'New York', 19000000, 1), (3, 'Milan', 1200000, 2), (4, 'Frederick', 75000, 1), (5, 'Hannover', 540000, 3)]

***************

[(1, 'Berlin', 3500000, 3), (2, 'New York', 19000000, 1), (3, 'Milan', 1201000, 2), (4, 'Frederick', 75000, 1), (5, 'Hannover', 540000, 3)]

In [38]:
dbconn.close()